/* Мобильное меню */
.menu_m_visible{
    overflow: hidden;
}
.mobile-panel{
    position: relative;
    margin-left: 10px;
    z-index: 300;
    @media (min-width: 1270px){
        display: none;
    }
}
.m-menu-button{
    background: transparent;
    border: none;
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
    @include transform-mobile-link;
    .line{
        display: block;
        position: absolute;
        left: 50%;
        width: 21px;
        height: 2px;
        background: $color-black;
        opacity: 1;
        transform: translateX(-50%) rotate(0deg);
        transition: .25s ease-in-out;
        &:nth-child(1){
            top: 11px;
        }
        &:nth-child(2){
            top: 18px;
        }
        &:nth-child(3){
            top: 18px;
        }
        &:nth-child(4){
            top: 25px;
            left: 45%;
            width: 16px;
        }
    }
    &.m-menu-open{
        position: relative;
        width: 40px;
        height: 40px;
        border: 1px solid $color-bordercolor;
        border-radius: 5px;
    }
    &.open{
        .line{
            background-color: $color-white;
            &:nth-child(1){
                top: 17px;
                width: 0%;
                left: 50%;
            }
            &:nth-child(2){
                transform: translateX(-50%) rotate(45deg);
            }
            &:nth-child(3){
                transform: translateX(-50%) rotate(-45deg);
            }
            &:nth-child(4){
                top: 17px;
                width: 0%;
                left: 50%;
            }
        }
    }
}
.mobile-menu{
    position: fixed;
    top: 0; left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* height: 100vh;*/
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-black;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 254;
    scrollbar-color: ligthen(rgba(33,33,33,0.1),5) rgba(33,33,33,0.2);
    scrollbar-width: thin;
    &.active-menu{
        visibility: visible;
        opacity: 1;
    }
}
.mobile-menu::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
}

.mobile-menu::-webkit-scrollbar
{
    width: 3px;
    height: 3px;
}

.mobile-menu::-webkit-scrollbar-thumb
{
    height: 2px;
    background-color: #cdcdcd;;
}
.mobile-content{
    padding: 45px 15px 15px 25px;
    &__item{
        margin-bottom: 10px;
    }
    ul{
        text-align: left;
        li{
            margin: 15px 0px;
            a{
                display: inline-block;
                text-decoration: none;
                text-transform: uppercase;
                font-family: $familyRegular;
                font-size: 18px;
                color: $color-white;
                &:hover{
                    opacity: .7;
                }
            }
            ul{
                display: none;
            }
        }
    }
    a{
        // padding-bottom: 8px;
        font-family: $familyRegular;
        color: $color-white;
    }
}
.messenger{
    margin-left: 10px;
    img{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 1600px){
    .mobile-panel{
    }
    
}