.help-block{
    margin-bottom: 0;
}
.error{
    color: $color-red;
}
.has-error .form-control{
    box-shadow: none !important;
}
.compensate-for-scrollbar{
    margin-right: 0 !important;
    padding-right: 17px;
}
.modal-open{
    overflow: hidden;
    padding-right: 17px;
    @media (max-width: 1000px){
        padding-right: 0;
    }
}
.modal{
    .control-label{
        display: none;
    }
    &-wrap{
        height: 100%;
    }
    &-dialog{
        margin: 100px auto;
        width: 1080px;
        border-radius: 10px;
    }
    &-content{
        border-radius: 0;
        width: 790px;
        box-shadow: none;
        border: none;
    }
    &-img{
        position: relative;
        width: 290px;
        background-size: cover;
    }
    &-header{
        padding: 50px;
        border-bottom: none;
        background: #fff;
        background-size: cover;
    }
    h3{
        text-transform: uppercase;
        @include fontF($familyMedium, 45px, 400, $color-black);
    }
    &-close{
        position: absolute;
        top: 15px;
        right: 15px;
        border: none;
        background: none;
        cursor: pointer;
        z-index: 10;
        &-mobile{
            display: none;
        }
    }
    &-body{
        padding: 0 50px 50px;
        input{
            height: 35px;
        }
        .form-captcha{
            position: relative;
            // left: -18px;
            top: 0px;
            display: block;
            margin: 0;
            /* transform: scale(0.85); */
        }
        .form-button{
            margin-top: 20px;
        }
        .btn{
            justify-content: center;
            margin-right: 50px;
        }
    }
}
.modal-general{
    .modal-img{
        background-image: url(../images/modal-1.jpg);
    }
}
.modal-standard{
    .modal-img{
        background-image: url(../images/modal-2.jpg);
    }
}
.terms_of_use{
    margin: 10px 0;
    font-size: 15px;
    line-height: 1.2;
    color: #959595;
    a{
        color: #959595;
        text-decoration: underline !important;
    }
}


@media (max-width: 1600px){
    .modal{
        &-header{
            padding: 40px 50px;
        }
        h3{
            font-size: 38px;
        }
    }
}
@media (max-width: 1440px){
    .modal{
        &-dialog {
            width: 1000px;
        }
        &-content{
            width: 1000px;
        }
        &-img{
            display: none;
        }
    }
}
@media (max-width: 1000px){
    .modal{
        &-dialog {
            margin: 50px auto;
            width: 300px;
        }
        &-content{
            width: 335px;
        }
        &-close{
            svg{
                width: 15px;
                height: 15px;
            }
        }
        &-header{
            padding: 35px 40px 15px;
        }
        h3{
            font-size: 20px;
        }
        &-body{
            padding: 8px 40px 30px;
            .form-captcha{
                left: -18px;
                transform: scale(0.85);
            }
            .form-button{
                flex-direction: column;
            }
            .btn{
                width: 100%;
                margin-right: 0;
            }
        }
    }
    .terms_of_use{
        font-size: 12px;
    }
}
@media (max-width: 400px){
    .modal{
        &-dialog{
        }
        &-content{
            width: 300px;
        }
        &-header{
            padding: 30px 20px 0;
        }
        &-heading{
            h3{
                font-size: 21px;
            }
        }
        &-body{
            padding: 8px 20px 20px;
        }
    }
}