.page-txt{
    h1, h2, h3, h4{
        text-transform: uppercase;
        font-family: $familyMedium;
        color: $color-black;
    }
    h2, h3, h4{
        padding: 40px 0 10px;
    }
    p{
        padding: 6px 0 !important;
    }
    strong{
        /* color: $color-black;*/
    }
    ul{
        list-style-position: inside;
        margin-bottom: 15px;
        list-style-type: disc;
        li{
            line-height: 1.4;
        }
    }
    ol{
        list-style-position: inside;
    }
    table{
        border: 1px solid rgba(33,33,33,0.15);
        border-collapse: collapse;
        td{
            padding: 10px 15px;
            border: 1px solid rgba(33,33,33,0.15);
            word-break: keep-all;
        }
    }
}

@media (max-width: 1600px){
    h2{
        font-size: 26px;
    }
    h3{
        font-size: 22px;
    }
}
@media (max-width: 1270px){
    .page-txt{
        // p{
        //     font-size: 16px;
        // }
        table{
            font-size: 14px;
        }
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 20px;
    }
    
}
@media (max-width: 1000px){
    .page-txt{
        h2, h3, h4{
            padding: 30px 0 10px;
        }
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    
}
@media (max-width: 767px){
    .page-txt{
        h1{
            font-size: 24px;
        }
        iframe{
            height: 300px;
        }
    }
    h2{
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
}
