.materials{
	border-bottom: 1px solid $color-bordercolor;
	&-wrap{
		padding-bottom: 40px;
		margin-bottom: 50px;
		border-bottom: 1px solid $color-bordercolor;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&-list{
		width: calc(100% + 20px);
		margin: 0 -10px;
		&__item{
			width: calc(100% / 6 - 20px);
			margin: 0 10px 30px;
		}
	}
	&-item{
		&__img{
			position: relative;
			width: 239px;
			height: 239px;
			margin: 0 auto;
			overflow: hidden;
			transition: all .3s;
			img{
				transition: .3s;
			}
		}
		&__name{
			margin-top: 20px;
			color: $color-black;
			transition: .3s;
			text-align: center;
		}
		&__style{
			position: absolute;
			top: 50%;
			left: 50%;
			width: 97%;
			height: 97%;
			transform: translate(-50%, -50%);
			border: 1px solid rgba(255, 255, 255, 0.2);
			overflow: hidden;
		}
		/*1,4,7,10.....*/
		.materials-item__img, .materials-item__style{
			border-radius: 50%;    
		}
		&:hover{
			.materials-item__img{
				img{
					opacity: .7;
				}
			}
			.materials-item__name{
				color: $color-yellow;
			}
		}
	}
	&-description{
		h1{
			width: 45%;
		}
		p{
			column-count: 2;
			column-gap: 150px;
		}
	}
}

@media (max-width: 1600px){
	.materials{
		&-list{
			&__item{
				width: calc(100% / 5 - 20px);
			}
		}
	}
}
@media (max-width: 1440px){
	.materials{
		&-item{
			&__img{
				width: 200px;
				height: 200px;
			}
		} 
	}
}
@media (max-width: 1080px){
	.materials{
		&-item{
			&__img{
				width: 140px;
				height: 140px;
			}
		} 
	}
}
@media (max-width: 767px){
	.materials{
		&-list{
			&__item{
				width: calc(100% / 4 - 20px);
			}
		}
		&-item{
			&__img{
				width: 140px;
				height: 140px;
			}
		} 
	}
}
@media (max-width: 600px){
	.materials{
		&-list{
			&__item{
				width: calc(100% / 2 - 20px);
			}
		} 
	}
}